{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Todo task</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
  <script src="{% static 'todo/home.js' %}" defer></script>
</head>

<body>
  <div class="container mt-4">
    <h2 class="text-center">Django ToDo App</h2>
    <h3>{{ 'My day'|title }}</h3>
    {% now 'dS-M-Y' %}
    <div class="row mt-3">
       <div class="col-lg-7 col-md-7">
        {% comment %}Add new task{% endcomment %}
        <div class="mt-2 mb-2">
          <form action="{% url 'addtask' %}" id="myform" method="post">
            {% csrf_token %}
            <div class="input-group">
              <input type="text" name="task" class="form-control form-control-lg" id="newtask" placeholder="Add a Task"
                required autocomplete="off" />
              <button class="btn btn-primary" type="submit" id="addtask"><i class="bi bi-plus"></i>Add</button>
            </div>
          </form>
        </div>
        {% comment %}End of Add new task{% endcomment %}
        {% comment %}Listing tasks{% endcomment %}
        <div class="overflow-scroll" style="height: 400px">
          <div class="todotask">
            {% for i in task %}
            <div class="card m-2" id="todo{{ i.id }}">
              <div class="card-body p-2">
                <span class="h5">{{ i.task }}</span>
                <span class="float-end">
                  <button type="button" class="btn btn-sm btn-success taskdone" data-id="{{ i.id }}"><i
                      class="bi bi-check"></i> Done</button>
                  <a href="{% url 'edit-task' i.id %}" class="btn btn-sm btn-primary"><i
                      class="bi bi-pencil-fill"></i></a>
                  <button type="button" class="btn btn-sm btn-danger" data-bs-target="#deletetask{{ i.id }}"
                    data-bs-toggle="modal"><i class="bi bi-trash-fill"></i></button>
                </span>
              </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="deletetask{{ i.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <b>Are you sure you want to delete this task ?</b>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="{% url 'delete-task'  i.id   %}" class="btn btn-danger">Delete</a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <!-- {% comment %}Add new task{% endcomment %}
        <div class="mt-2 mb-5">
          <form action="{% url 'addtask' %}" id="myform" method="post">
            {% csrf_token %}
            <div class="input-group">
              <input type="text" name="task" class="form-control form-control-lg" id="newtask" placeholder="Add a Task"
                required autocomplete="off" />
              <button class="btn btn-primary" type="submit" id="addtask"><i class="bi bi-plus"></i>Add</button>
            </div>
          </form>
        </div>
        {% comment %}End of Add new task{% endcomment %} -->
      </div>
      {% comment %}Listing completed task{% endcomment %}
      <div class="col-lg-5 col-md-5">
        <h3>Completed Tasks</h3>
        <br />
        <div id="task_complete">
          {% for i in completed_task %}
          <div class="card m-1" id="unmark{{ i.id }}">
            <div class="card-body p-2">
              <span class="h5">{{ i.task }}</span>
              <span class="float-end"><button class="btn btn-sm btn-warning taskundone" data-id="{{ i.id }}"><i
                    class="bi bi-x"></i>Undone</button>
                <button class="btn btn-sm btn-danger del" data-id="{{ i.id }}"><i class="bi bi-trash-fill"></i></button>
              </span>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"></script>
</body>

</html>